<ion-view view-title="">
  <ion-content scroll="false">
    <div class="row img" style="position:relative;">
        <div class="list list-inset searchClass">
            <label class="item item-input"style="width:83%;float:left;">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" style="font-size:5vw;"placeholder="Search City/Places/Hotels">
            </label>
            <button class="button button-positive">
                <i class="icon ion-mic-a"></i>
              </button>
          </div>
    </div>
    <h3 class="staticDataTopMargin" style="text-align:center;color:#c72e0a;font-size: 5.8vw;">------Places Of Interest------</h3>
    <div class="blocksData" scroll="true">
      <div class="col col-offset-10 col-50 img1 border staticData">
        <span class="title">City Palace</span>
      </div>
      <div class="col col-offset-10 col-50 img2 border staticData ">
        <span class="title">Jantar Mantar</span>
      </div>
      <div class="col col-offset-10 col-50 img3 border staticData">
        <span class="title">Hawa Mahal</span>
      </div>
      <div class="col col-offset-10 col-50 img4 border staticData">
        <span class="title">Jal Mahal</span>
      </div>
    </div>

  </ion-content>
  <div class="bar bar-footer row">
    <button class="button button-clear col col-33 footerColor" style="background:#0072ff;border-right:2px solid #fff;"><i class="icon ion-ios-telephone"></i>&nbsp;Dial 100</button>
    <button class="button button-clear col col-33 footerColor" style="background:#0072ff;border-right:5px solid #fff;"><i class="icon ion-android-share-alt"></i>&nbsp;Experience</button>
  
    <button class="button button-clear col col-33 footerColor" style="background:#0072ff;"><i class="icon ion-android-share-alt"></i>&nbsp;Location</button>
    
  
  </div>
</ion-view>
